<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-daz3lQch1Er3Kk9gcE4fnzEDbrQ/GYQ1ST8mxJl6+bZiJsGqFLngjoKFvcGbpRJ7sAMZNLH5Y7Y9c2XRwP39wA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      h1 {
        font-family: "Arial", sans-serif;
        color: #007bff;
      }

      body {
        font-family: "Arial", sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      .container {
        background: linear-gradient(to bottom, #ffffff, #f5f5f5);
        max-width: 600px;
        margin: 20px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      p {
        color: #333333;
        line-height: 1.6;
        margin: 15px 0;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Dear <strong><%= user.name %></strong>,</h1>
      <p>
        Thank You for registering for demo session. While we are arranging the
        best possible session for you, keep the coding spirit high. Coding
        Commando guides you with coding courses and hot skills of the market
        under the guidance of industry experts. Team will connect with you
        supersoon.
      </p>
      <p>Thank You</p>
    </div>
  </body>
</html>
