<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Ready to Shine!</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        color: #4caf50;
      }

      p {
        color: #333;
        line-height: 1.6;
      }

      .signature {
        margin-top: 20px;
        font-style: italic;
        color: #666;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Get Ready to Shine!</h1>
      <p>Hi <%= user.name %>,</p>
      <p>
        Exciting news! You're officially enrolled in our 3-day Career mapping
        workshop – welcome aboard!
      </p>
      <p>
        Get ready to find new opportunities, uncover your strengths, and start
        your journey to success. We're going on a journey together to learn and
        grow like never before.
      </p>
      <p>Keep an eye out for more information and get ready to shine!</p>
      <p>
        Please find the attached workshop link below:
        <a href="https://live.zoho.in/pCxz7w9eFO">Join Worskhop</a>
      </p>
      <p>
        Date: 26th April to 28th April<br />
        Time: 8 PM Onwards
      </p>

      <p class="signature">Best Regards, <br />Coding Commando Team</p>
    </div>
  </body>
</html>
